<!DOCTYPE html>
<html>
<head>
	<title>TRBO -</title>
	<link rel="stylesheet" href="/assets/css/bootstrap.css"/>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
{{{ body}}}
</body>
</html>