<div id="slider" class="swipe">
  <div class="swipe-wrap">
    <div class="tile">
      <p class="hobby-text">sample text 1</p>
    </div>
    <div class="tile">
      <p class="hobby-text">sample text 2</p>
    </div>
    <div class="tile">
      <p class="hobby-text">sample text 3</p>
    </div>
  </div>
</div>

<div id="footer">
  <button id="match-button" type="button" class="button large">Match</button>
</div>
